body {
	background: url("../images/dust_scratches.png");
}

#header {
	background: #fff;
}

.container-fluid {
	color: #464a4e;
}

.row {
	padding: 15px;
}

/*Header/Navbar*/
h2 {
	cursor: pointer;
	font-family: 'Fjalla One', sans-serif;
}
a {
	color: #464a4e;
}

a:hover {
	color: #FF530D;
}

#header {
	font-family: 'Fjalla One', sans-serif;
	padding-left: 40px;
	padding-right: 40px;
}

#contact {
	border-radius: 20px;
	cursor: pointer;
}

/*************************************************Main Content*******************************************************/

/*short bio*/
#title {
	margin-top: 20%;
	border-left: 2px solid #868e96;
	padding-left: 15px;
}

#boldletter {
	color: #FF530D;
	font-weight: bold;
	font-size: 2em;
}

#summary {
	padding-left: 17px;
}

#readmore {
	margin-left: 17px;
	border-radius: 20px;
	cursor: pointer;
}


/*pic*/
#pic-container {
	
}

#mypic {
	border-radius: 10px;
}


/*******************************************Media Queries************************************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { 
	 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/*#868e96 #464a4e*/
