body {
	background: url("../images/falc3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-fluid {
	color: #464a4e;
}

.row {
	padding: 15px;
}

/*Header/Navbar*/
#header {
	/*background: #fff;*/
}

#name {
	cursor: pointer;
}

h2 {
	font-family: 'Fjalla One', sans-serif;
}
a {
	color: #464a4e;
}

a:hover {
	color: #FF530D;
}

#header {
	font-family: 'Fjalla One', sans-serif;
	padding-left: 80px;
	padding-right: 80px;
}

#contact {
	border-radius: 20px;
	cursor: pointer;
}

/*************************************************Main Content*******************************************************/

/*short bio*/
.col-md-4 {
	padding-left: 40px;
}

#title {
	margin-top: 25%;
	border-left: 2px solid #868e96;
	padding-left: 15px;
}

#mission-statement {
	color: #fff;
}

#boldletter {
	color: #FF530D;
	font-weight: bold;
	font-size: 2em;
}

#summary {
	padding-left: 20px;
}

#readmore {
	margin-left: 20px;
	border-radius: 20px;
	cursor: pointer;
}


/*pic*/
#script-pic {
	margin-top: 20px;
}

#mypic {
	border-radius: 10px;
}


/*******************************************Media Queries************************************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { 
	 
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/*#868e96 #464a4e*/
